# --- Jupyter Notebook Specific ---
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.virtual_documents/

# --- Python / Data Science ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
.python-version

# --- Machine Learning / Large Data ---
# Ignore everything in the data folder by default
data/*

# Globally ignore weights and large file types FIRST
models/saved_weights/
*.xlsx
*.csv
*.log
*.pth
*.ckpt

# Exception: Keep modified and final directories
!data/modified/
!data/final/

# Exception: Explicitly un-ignore their contents LAST 
!data/modified/**
!data/final/**

# --- System / IDE ---
.DS_Store
.vscode/
.idea/

test

# recustomized ignore/un-ignore contents
context
tableauref/PH_Adm2_ProvDists.shp
*.zip
!outputs/results/*.csv